body{
    background-color: pink;
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 20vh;
}
p{
    font-size: 5vh;
    color: #EA3A8D;
}
button{
    width: 30vh;
    height: 10vh;
    border-radius: 15vh;
    font-size: 3vh;
}
article{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
